<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <h1>Login Your Account</h1>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
    
            <label for="code">Verification Code</label>
            <input type="text" id="verification-code" name="code" required>
        
            <div class="form-actions">
                <input type="submit" value="Log In">
                <div class="links">
                    <a href="/forgot-password">Forgot Password?</a>
                    <a href="/register">Register Your Account</a>
                </div>
            </div>
        </form>
    </div>

    
<% if (message) { %>
<script>
    var message = '<%= message %>';
</script>
<% } %>

<script>
    if (message) {
        Swal.fire({
            title: message,
            icon: 'error',
            confirmButtonText: 'OK'
        })

    }
</script>
<script>
    if (message == "Password Successfully Changed! Proceed to Login") {
        Swal.fire({
            title: message,
            icon: 'success',
            confirmButtonText: 'OK'
        })

    }
</script>
</html>